@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@layer base {
  body {
    @apply bg-black text-white;
    overflow-x: hidden;
    font-feature-settings: "ss01", "ss02", "cv01", "cv02";
    font-family: var(--font-body);
  }
}

@theme {
  --font-display: "Bebas Neue", sans-serif;
  --font-body: "Inter", sans-serif;
}

@keyframes bounce-slow {

  0%,
  100% {
    transform: translateY(-10%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes bounce-fast {

  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 3s infinite;
}

.animate-bounce-fast {
  animation: bounce-fast 1.5s infinite;
}